/**
  Work Detail Hero
*/
.work-detail-hero {
  display: flex;
  align-items: center;
  background-color: var(--color-background-dark);
}

.work-detail-hero .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.work-detail-hero__title {
  font-size: clamp(20px, 4vw, 40px);
}

/**
  Work Detail Info
*/
.work-detail-info {
  padding-top: 60px;
}

.work-detail-info__inner {
  width: 100%;
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.work-detail-info__image {
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.work-detail-info__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 220px;
  height: 48px;

  border: 1px solid var(--color-primary);
  border-radius: 24px;
  font-size: 20px;

  background-color: var(--color-background);
  color: var(--color-primary);
}

.work-detail-info__button::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 14px;
  color: var(--color-primary);
}

/**
  Work Detail Description
*/
.work-detail-description .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 60px;
  padding-bottom: 140px;
}

.work-detail-description__title {
  font-size: 36px;
  margin-bottom: 24px;
}

.work-detail-description__body {
  display: flex;
  flex-direction: column; 
  gap: 16px;
}

.work-detail-description__text {
  font-size: 20px;
}

.work-detail-description__list {
  padding-inline-start: 20px;
}

.work-detail-description__item {
  font-size: 20px;
  list-style: disc;
}

/**
  Responsive
*/
@media screen and (max-width: 767px) {
  /**
    SP Work Detail Hero
  */
  .work-detail-hero .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /**
    Work Detail Info
  */
  .work-detail-info__button {
    width: 160px;
    height: 40px;

    border-radius: 20px;
    font-size: 16px;
  }

  .work-detail-info__button::after {
    font-size: 12px;
  }

  .work-detail-description .container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .work-detail-description__title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .work-detail-description__body {
    gap: 8px;
  }

  .work-detail-description__text {
    font-size: 16px;
  }

  .work-detail-description__item {
    font-size: 16px;
  }
}